.example--color__qr {
    --qrcode-dark-color: rgba(0, 0, 200, 0.8);
    --qrcode-light-color: pink;
}

.resizable qr-code {
    width: 100%;
    height: 100%;
    --qrcode-resize: true
}

.resizable {
    width: 500px;
    height: 450px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .resizable {
        width: 200px;
        height: 200px;
    }
}

.qrcode--content-view {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.qrcode--content-code-view{
    position: relative;
    padding: 10px;
    border: 1px solid var(--fg-color);
    padding-top: calc(20px + 1em);


    & > label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px;
    }

    &:has(input:not(:checked)) > .code > .whitespace-char::before {
        content: ""
    }

    & > .code {
        white-space: pre-wrap;

        & > .whitespace-char {
            opacity: 0.8;
            position: relative;
        }
        & > :is(.whitespace-char--carriage-return, .whitespace-char--line-feed) {
            width: 1em;
            user-select: none;
            display: inline-block;
        }
        

        & > :is(.whitespace-char--carriage-return, .whitespace-char--line-feed)::before {
            position: relative;
        }
        & > :is(.whitespace-char--space, .whitespace-char--tab)::before {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0%);
        }

        & > .whitespace-char--space::before           { content: "⸱" }
        & > .whitespace-char--carriage-return::before { content: "⏎" }
        & > .whitespace-char--line-feed::before { content: "¶" }
        & > .whitespace-char--tab::before { content: "→" }
    }
    &::before {
        content: "QR Code Content";
        position: absolute;
        color: var(--tab-active-color);
        text-align: end;
        top: 0;
        right: 0;
        padding: 5px;
        font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
        background: var(--code-bg);
        border-top-right-radius: 5px;
        padding-left: 20px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 20px 100%);
        pointer-events: none;
    }
}


.whitespace-table td:first-child {  
    text-align: center;
    padding: 0.5rem;
}

.preprocesses-list {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;

    & > li {
        display: contents;
    }

    & .name {
        grid-column: 1 / 2;
        text-align: right;
    }

    & .description {
        grid-column: 2 / 3;
    }
    

}
